body, p, span, div, a, h1, h2, h3, h4, h5, ul, li, button, input, select , option, textarea, label {
    font-family: 'Prompt', sans-serif !important;
}

.sidebar::after{
    background-image: linear-gradient(120deg, #00B482 0%, #00B482 100%) !important;
    color: black;
}

.sidebar .nav li > a ,.sidebar .nav i {
    color: white;
}

.sidebar[data-active-color="success"] .nav li.active > a, .sidebar[data-active-color="success"] .nav li.active > a i {
    color: #1aff00;
}

.navbar.navbar-transparent {
    background-color: white !important;
    color: black;
}

.content {
    min-height: 80vh;
}
